.projectImg {
	width: 80%;
}
.video-container {
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 30px;
	flex-direction: column;
	margin-top: 40px;
}
.video {
	border-radius: 10px;
	border-width: 0.5px;
	/* border-color: #508e63; */
	/* border-style: solid; */
	box-shadow: 10px 10px 30px grey;
}
.image {
	width: 460px;
	height: 460px;
	object-fit: contain;
}
.info {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	row-gap: 2rem;
	/* margin-top: 100px;
  margin-bottom: 100px; */

	padding: 100px;
}
.simulator-screenshots-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}
h4 {
	color: white;
	font-size: auto;
}

@media screen and (max-width: 640px) {
	.projectImg {
		width: 100%;
	}
	.info {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		row-gap: 2rem;
		/* margin-top: 100px;
    margin-bottom: 100px; */

		padding: 50px;
	}
}
